<!-- <h1>Angular 12 Reactive Forms Validation Example</h1>

<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  style="width: 400px; height: 500px; margin: auto auto"
>
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" class="form-control" />
    <div
      *ngIf="form.controls.name.touched && form.controls.name.invalid"
      class="alert alert-danger"
    >
      <span style="color: red">Name is required.</span>
    </div>
    <div
      *ngIf="form.controls.name.errors && form.controls.name.errors.minlength"
    >
      <span style="color: red"> Name should be 3 character.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      formControlName="email"
      id="email"
      type="text"
      class="form-control"
    />
    <div
      *ngIf="form.controls.email.touched && form.controls.email.invalid"
      class="alert alert-danger"
    >
      <div
        *ngIf="
          form.controls.email.errors && form.controls.email.errors.required
        "
      >
        <span style="color: red">Email is required.</span>
      </div>
      <div
        *ngIf="form.controls.email.errors && form.controls.email.errors.email"
      >
        <span style="color: red">Please, enter valid email address.</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea formControlName="body" id="body" type="text" class="form-control">
    </textarea>
    <div
      *ngIf="form.controls.body.touched && form.controls.body.invalid"
      class="alert alert-danger"
    >
      <div
        *ngIf="form.controls.body.errors && form.controls.body.errors.required"
      >
        <span style="color: red">Body is required.</span>
      </div>
      <div *ngIf="form.controls.body.errors?.urlValid">
        <sup>*</sup>Use should start with https and must end with .me :)
      </div>
    </div>
  </div>
  <br /><br />
  <div formArrayName="hobbies">
    <label>Hobbies : </label>

    <br />
    <button
      type="button"
      class="btn btn-secondary"
      [disabled]="!hobbies.valid"
      (click)="onAddHobby()"
    >
      Add Hobbies
    </button>
    <div *ngFor="let formControl of hobbies['controls']; let i = index">
      <input class="form-control" type="{{ date }}" [formControlName]="i" />
      <div
        *ngIf="
          !hobbies['controls'][i].valid &&
          hobbies['controls'][i].touched &&
          hobbies['controls'][i].errors?.required
        "
      >
        <br />

        <p style="color: red">This field is required</p>
      </div>
    </div>
  </div>
  <br />
  <button class="btn btn-primary" type="submit">Submit</button>
</form> -->

<app-dynamic-text-input></app-dynamic-text-input>
